/* Main container holding the table */
.linksContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
}

/* Wrapper around the table to enable horizontal scrolling */
.linksTableWrapper {
  width: 100%;
  overflow-x: auto; /* Horizontal scrolling if the table exceeds container width */
  border-radius: 6px;
  box-shadow: 0px 7px 10px -10px gray;
}

/* Table styles */
.linksTable {
  width: 100%;
  table-layout: fixed; /* Ensures all columns have the same width */
  border-collapse: collapse; /* Ensures borders are collapsed for a clean look */
}

/* Table header styling */
.tableHeader {
  padding: 10px;
  text-align: left;
  border: 1px solid var(--border-gray);
  background-color: #f3f7fd;
  font-weight: bold;
}

/* Table cell styling */
.tableCell {
  padding: 10px;
  text-align: left;
  border: 1px solid var(--border-gray);
  word-wrap: break-word; /* Ensures text wraps properly */
  overflow: hidden;
  text-overflow: ellipsis; /* Adds ellipsis if content overflows */
}

.copyLinkText {
  cursor: pointer;
}

.actionButton {
  padding: 5px 10px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
