.mainContainer {
  display: flex;
  width: 100vw;
  position: relative;
}

.flexColumnContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: calc(100% - 200px);
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 200px;
}

.sidebarMenu {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-top: 50px;
  width: 100%;
}

.menuItem,
.activeMenuItem {
  display: flex;
  gap: 10px;
  padding: 20px 10px;
  font-size: 14px;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
}

.menuItem {
  color: var(--text-black);
}

.activeMenuItem {
  background-color: #f3f7fd;
  color: var(--text-blue);
  border-radius: 10px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 96.7%;
  border-bottom: 1px solid var(--border-gray);
  position: relative;
}

.welcomeMessageContainer,
.welcomeMessage {
  display: flex;
  flex-direction: column;
}

.welcomeMessage > p {
  margin: 0;
}

.greeting {
  font-size: 16px;
  font-weight: bold;
}

.date {
  font-size: 12px;
}

.createNewIcon {
  background-color: #1b48da;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.headerRightContent {
  display: flex;
  gap: 20px;
  align-items: center;
}

.searchInput {
  height: 100%;
  padding: 15px;
  border: 1px solid var(--border-gray);
  border-radius: 6px;
}

.userInitialContainer > button {
  background-color: #fde48a;
  border: none;
  font-size: 16px;
  padding: 10px 13px;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
}

.logoutOptionContainer {
  position: absolute;
  top: 70px;
  right: 30px;
  background-color: #ffffff;
  border: 1px solid var(--border-gray);
  padding: 10px 20px;
  border-radius: 4px;
}

.logoutOptionContainer > button {
  padding: 0;
  border: none;
  background-color: transparent;
  color: #878ba9;
  font-size: 14px;
  cursor: pointer;
}
